{% extends 'template.html' %}

{% block title %}
    {{ super() }}
    Error 404
{% endblock %}

{% block content %}
    <div id="error_block">
        <div id="error_img">
            <img src="{{ url_for('static', filename = 'img/404.gif') }}" alt="Error 404">
        </div>
        <div id="error_txt">
            <h1 class="error">Error 404</h1>
            <p>Algo falló. Puede que se haya roto el Internet, o que haya empezado el fin del mundo.</p>
            <p>De cualquier manera, don't worry, no es tu PC, fuimos nosotros y vamos a investigar la causa.</p>
            <p>Mientras tanto, podrías <a class="imp_link" href="{{ url_for('index') }}">volver a la página principal.</a></p>
            <br>
            <small><em>{{ error }}</em></small>
        </div>
    </div>
{% endblock %}